.datepicker {
    width: 110px;
}

.zend_form ul {
    margin: 0px;
    color: #DD0000;
    padding-left: 3px;
}

.zend_form ul li {
    list-style: none;
}
.hint {
    padding: 8px;
    margin-bottom: 8px;
    color: #555;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #eee;
    padding-left: 32px;
    border-top: 1px solid #B8E2FB;
    border-bottom: 1px solid #B8E2FB;
    background: #E8F6FF url("../img/information.png") no-repeat 8px 50%;
}

#container {
    float: left;
    width: 100%;
}

.empty-line{
    text-align: center;
}

.zend_form textarea{
    height: 100px;
}
#apply-info td{
    background-color: #fff;
}

#dialog-form .hint{
    margin-bottom: 0px;
}
#dialog-form .zend_form,#dialog-form p{
    margin-top: 0px;
}
.account_list_item li {
    height: 25px;
}
.account_list_item{
    border:0px;
    list-style:none;
    white-space:nowrap;
    -o-text-overflow:ellipsis;
}
.account_list_content{
    border:0px;
    list-style:none;
    white-space:nowrap;
    -o-text-overflow:ellipsis;
}
#account_list_page {
    border:0px;
    list-style:none;
    white-space:nowrap;
    -o-text-overflow:ellipsis;
}
.aa{color:#6600CC; text-decoration:none;}
.aa:hover {color:#FF0066; text-decoration:none;font-size: 12px}
.account_list_item li{
    list-style: none;
    margin:0px;
    font-weight:bolder;
    border:1px solid #336699;
    text-align:center;
    line-height:18px;
    height:34px;
    font-size:12px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    display:inline-block;
    vertical-align: top;
    background:#1C86EE;
    color:#FFFFFF;
    margin-left:-1px;
    padding:4px;
}
.account_list_content li{
    list-style: none;
    margin:0px;
    text-align:center;
    line-height:25px;
    height:25px;
    font-size:12px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    display:inline-block;
    vertical-align: top;
}
.account_list_forWeixin{
    border-right:1px solid #cdbe70;
}
.account_list_forWeixin li{
    width: 204px;
    height: 106px;
    line-height: 18px;
}

.userlist_item{
    width:1850px;
    border:0px;
    list-style:none;
    white-space:nowrap;
    -o-text-overflow:ellipsis;
    font-size: 0;
}
.userlist_content{
    width:1850px;
    border:0px;
    list-style:none;
    white-space:nowrap;
    -o-text-overflow:ellipsis;
    font-size: 0;
}
.userlist_item li{
    list-style: none;
    margin:0px;
    font-weight:bolder;
    border:1px solid #336699;
    border-right:1px solid #3366CC;
    text-align:center;
    line-height:25px;
    font-size:12px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    display:inline-block;
    vertical-align: top;
    background:#1C86EE;
    color:#FFFFFF;
    padding:4px;
    margin-left:-1px;
}
.userlist_content li{
    list-style: none;
    margin:0;
    text-align:center;
    line-height:25px;
    height:25px;
    font-size:12px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
}
.bgcolor1 li{
    border:1px solid #CDBE70;
    border-top:0px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    margin-left:-1px;
    padding:4px;
}
.bgcolor2 li{
    border:1px solid #336699;
    border-top:0px solid #FFFFFF;
    border-right:1px solid #FFFFCC;
    background:#FFFFCC;
}
#account_list_page li,#user_list_page li ,#account_list_page_paidan li, #open_dialog li{
    list-style: none;
    float:left;
    display:block;
}
#order_filter span{
    display: block;
    float: left;
}
.filter_line{
    width: 100%;
    margin: 2px 0 ;
}
.filter_grid2{
    width: 500px;
}
.filter_grid{
    width: 200px;
}
.filter_line_clear{
    clear: both;
    float: none;
}
.fliter_box dl{
    height: auto;
    float: left;
    margin: 3px;
}
.fliter_box dt{
    width: 70px;
}
.fliter_box dt,.fliter_box dd{

    float: left;
    line-height: 27px;
}
.fliter_box dd{
    text-align: left;
}
.fliter_box input{
    width: 100px;
}
.content-box h2{
    font-size: 16px;
    margin: 2px 0 2px 5px;
}
.account-line{
    border-bottom:1px  solid #D9D9D9;
    padding-bottom: 15px;
    width: 100%;
}

#account_add dl{
    /*height: 27px;*/
    float: left;
    margin: 3px;
}
#account_add dt,#account_add dd {
    float: left;
    line-height: 27px;
}
#account_add dd{
    text-align: left;
}
#account_add input.text{
    width: 100px;
}
#left {
    float: left;
}
#left dl {
    clear: both;
}
#left dt {
    width: 60px;
}
#middle {
    float: left;
    padding-left: 10px;
}
#middle dl{
    clear: both;
}
#middle dt {
    width: 85px;
}
#right {
    float: right;
    padding-left: 10px;
}
#right dl {
    clear: both;
}
#right dt {
    width: 90px;
}
#account_add,#account-dialog {
    margin: 0;
}
.periodMin li{
    background-color: #D1EEEE !important;
}
.monthly li {
    background-color: #FFC0CB !important;
}
.conflict li, .conflict td{
    background-color: #CCCCCC !important;
}
.dl-tuan dt{
    width: 75px;
}
#accountList {
    width: 3470px;
}
#accountList_paidan {
    width: 3150px;
}
#userList{
    width:1430px;
}
.account_list_item, .account_list_content{
    float: left;
    margin: 0;
    font-size: 0;
}
#account_list_page{
    width:3470px;
    float: left;
}
#account_list_page_paidan{
    width:3150px;
    float: left;
}
#user_list_page{
    width:1430px;
    float: left;
}


.accountForm_item ,.accountForm_content{

    border: 0px;
    list-style: none;
    font-size: 0;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
}
.accountForm_item ,.accountForm_content01{

}

.accountForm_item li{
    list-style: none;
    margin: 0px;
    font-weight: bolder;
    border: 1px solid #336699;
    border-right: 0px;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #1C86EE;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: top;
}
.accountForm_content li{
    list-style: none;
    margin:0px;
    text-align:center;
    line-height:25px;
    background-color:#fff;
    height:34px;
    font-size:12px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    border: 1px solid #EEE0E5;
    border-right: 0px;
    border-top:0px;
    display: inline-block;
    vertical-align: top;
}
.accountForm_content li input{
    line-height:25px;
}

.accountForm_content li ul
{
    padding: 0;
}

.accountForm_content li ul li
{
    display: inline-block;
    width: 60px;
    border: 0;
    height: 90px;
    padding-right: 5px;
}
.accountForm_content li ul.release_history_list li{
    height: auto;
    width: auto;
}
.accountForm_content li ul li div.img_upload_btn
{
    width: 60px;
    height: 24px;
    background:url('/img/shangchuan.jpg') no-repeat;
}

.accountForm_content li ul li .progressContainer
{
    margin: 1px 0 0 0;
    padding: 0;
    width: auto;
    height: 40px;
}

.accountForm_content li ul li a.progressCancel
{
    float: none;
}

.jia{
    border:0px;
    border-right:0px;
    border-left:0px;
    borer-top:0px;
    borer-bottom:0px
}
.order a{
    cursor:pointer;
}
.paymentAddFormCss li{
    float: left;
    list-style:none;
    margin-left:1px;
    margin-top:5px;
    width:130px ;
}
.monthlyInfoFormCss li{
    float: left;
    list-style:none;
    margin-left:1px;
    margin-top:5px;
    width:130px ;
}
.monthlyInfoFormCss{
    width:300px;
}
.paymentAddFormCss{
    width:360px;
}

/*���ʺ��б�start*/
.all_account_list_item,.all_account_list_content{
    border:1px;
    width:870px;
}
.all_account_list_content li{
    list-style: none;
    float:left;
    margin:0px;
    border:1px solid #336699;
    text-align:center;
    line-height:18px;
    height:25px;
    vertical-align:middle;
    font-size:12px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    display:block;
    width:120px;
    border-left:0px;
    border-top: 0px;
}
.all_account_list_content li a,.all_account_list_content li font{
    float:left;
}
.all_account_list_item li{
    list-style: none;
    float:left;
    margin:0px;
    font-weight:bolder;
    border:1px solid #336699;
    text-align:center;
    line-height:18px;
    height:30px;
    vertical-align:middle;
    font-size:12px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    display:block;
    width:120px;
    border-left:0px;
}

.detail_dimensionalcode {
    margin-left: 20px;
}

.accountdetail_dimensionalcode {
    width: 160px;
}

.filter_type_line{
    clear: both;
    color: #f00;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 6px;
    line-height: 30px;

}