@CHARSET "UTF-8";
.u3 {
    color: #000000;
    font-family: '微软雅黑';
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    height: 25px;
    left: 90px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 301px;
    width: 120px;
}
.u2 {
    color: #000000;
    font-family: '微软雅黑';
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    height: 25px;
    left: 91px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 257px;
    width: 120px;
} 
table.stylized th,table.stylized tr {
	line-height: 18px;
	padding: 6px 6px;
	text-align: center;
	word-break: break-all;
	text-align: center;
}
.stylized td{
	background-color: #ffffff; 
}
