#dialogorders-form dt,dd{
float: left;
display: block;
}
#dialogorders-form dt{
width: 85px;
line-height: 20px;
text-align:center;
}
#dialogorders-form dd{
width: 300px;
}
#dialogorders-form dl{
width: 420px;
float: left;
margin: 2px 0 ;
}
#dialogorders-form select{
width: 300px;

}
#dialogorders-form textarea {
	width: 300px;
	height: 60px;
}

#dialogorders-form input {
height: 20px;
}
table.mycss{
	border-collapse:collapse;
	position:relative;
	margin-top:1em;
	margin-bottom:1em;
}
table.mycss td{
	border:solid 1px #330000;
}

#dialogcampaign-form dt,dd{
float: left;
display: block;
}
#dialogcampaign-form dt{
width: 85px;
line-height: 20px;
text-align:center;
}
#dialogcampaign-form dd{
width: 300px;
}
#dialogcampaign-form dl{
width: 420px;
float: left;
margin: 2px 0 ;
}
#dialogcampaign-form select{
width: 300px;

}
#dialogcampaign-form textarea {
	width: 300px;
	height: 60px;
}

#dialogcampaign-form input {
height: 20px;
}


#dialogunit-form dt,dd{
float: left;
display: block;
}
#dialogunit-form dt{
width: 85px;
line-height: 20px;
}
#dialogunit-form dd{
width: 300px;
}
#dialogunit-form dl{
width: 420px;
float: left;
margin: 2px 0 ;
}
#dialogunit-form select{
width: 300px;

}
body{
color:#000;
}

table.mycss td strong.receiveIcon {
}
.receiveIcon_span{
	matgin-left:-5px;
	margin-top:-10px;
	display:inline-block;
	width:12px;
	height:12px;
}

.exclude li {
    background-color: #CCCCCC !important;
}
.specialCampaign li {
    background-color: #CCCCCC !important;
}
.onlyone li {
    background-color: #CCCCCC !important;
}
.periodMax li {
    background-color: #CCCCCC !important;
}
.tuan li {
    background-color: #CCCCCC !important;
}
.conflict li, .conflict td {
    background-color: #CCCCCC !important;
}
.position li {
    background-color: #CCCCCC !important;
}

.cantAutoSend li {
    background-color: #CCCCCC !important;
}
.leave li {
    background-color: #CCCCCC !important;
}

.platform_name {
    clear: both;
    color: red;
}

.submit_reset {
    clear: both;
    margin-left: 400px;
}

.detail_dimensionalcode {
    margin-left: 20px;
}

.accountdetail_dimensionalcode {
    width: 160px;
}

.refused_reason {
    float: left;
    width: 130px;
    font-weight: normal;
}

.color_account_user{
    color: #000;
    background: url(images/icon_price.gif) no-repeat 0px -81px;
    padding: 1px 0 2px 18px;
}
.color_price_reduction{
    color: #ff6900;
}
.color_account_weiboyi {
    color: #000;
    background: url(images/icon_price.gif) no-repeat 0 0;
    padding: 1px 3px 2px 18px;
}