html {
	height:100%;
}
body{
	background:white;
	margin:0;
	padding:0;
}
#modules {
				width:960px;
				margin-left:150px;
				font-size:12px;
				margin-top:40px;
				margin-bottom:10px;
				color:black;
				line-height:30px;
				
		}

		.m1{
				margin-left:10px;
				font-weight:bold;
				color:white;
				line-height:30px;
		}
		
		.bold {
				font-weight:bold;
		}
		.c1 {
				margin-right:20px;
		}
		
		
		.css1 {
				width:150px;
				float:left;
		}
		
		.css2 {
				width:350px;
				float:left;
				line-height:30px;
		}
		
		.css3{
				float:left;margin-left:300px;
		}
		
		.css4 {
				float:left;
		}
	 .modules{
				width:960px;
				height:30px;
				background:#5E9BDF;
				color:white;
				
		}
		
		.modules a{
				color:white;
				
		}
		 .controllers {
				margin-left:30px;
				clear:both;
				height:30px;
				width:930px;
				margin-top:1px;
				color:#0033FF;
				
				
		}
		.controllers a {
				color:#0033FF;
				
		}
		 .actions{
				margin-left:60px;
				margin-top:1px;
				background:#ecf4fd;
				height:30px;
				width:900px;
				color:#999;;	
				font-size:12px;
		}
		.actions a{
				color:#999;
				font-size:12px;
		}
		.addc {
			font-size:12px;	
		}
		.actions {
			clear:both;
		}
		.delc {
			font-size:12px;
			margin-left:20px;
		}
		
			.add {
			position:absolute;
			width:300px;
			background:gray;
			left:5000px;
    		top:5000px;
			z-index:1000;
		}
		
		#edit {
			position:absolute;
			width:300px;
			background:gray;
			top:200px;
			left:500px;
			z-index:1000;
		}
		.addtop{
			width:290px;
			height:30px;
			background:#2A7AD2;	
			color:white;
			line-height:30px;
			margin-left:5px;
			margin-top:5px;
		}
		 .addform{
				width:290px;
				color:#000000;
				background:#F6F6F6;
				margin-left:5px;
				margin-bottom:5px;
		}
		
		.addform li {
			list-style-type:none;
			margin-left:-20px;
		}
		.addform p{
			margin-left:10px;
		}
		 .btns{
			background:#2A7AD2;
			width:60px;
			margin-left:50px;
			margin-bottom:10px;
			color:white;
		}
		
			#show{
			margin-left:150px;
			height:60px;
			
		}
		#show .total{
			margin-left:100px;
			float:left;
			margin-top:10px;
		}
		#show .addcontroller{
			float:left;
			margin-top:10px;
			margin-left:400px;
		}
		#modles {
			margin-top:-30px;
			margin-left:150px;
			margin-bottom:-50px;
		}
		
		.tjbtn{
				margin-top:100px;
				margin-left:600px;
				background:#2A7AD2;
				width:60px;
				height:30px;
				color:white;
		}
  *{
	  font-size:12px;
	  }
html {
	height:100%;
}
body {
	height:100%;
	margin:0;
	padding:0;
	font-size:12px;
}
div, ul, li, a, span, em, p, form, input, ol, h1, h2 {
	margin:0;
	padding:0;
	border:none;
}
ul, ol {
	list-style-type:none;
}
a {
	text-decoration:none;
}
/* #tree.css */
#tree {
	width:960px;
	margin:60px auto 0px auto; 
}

/* #tree .t1.css */
#tree .t1 {
	margin:15px 0 1px 0;
	position:relative;
}
#tree .t1 div {
	zoom:1;
	overflow:hidden;
	line-height:26px;
	background:#609BDF;
}
#tree .t1 div h2 {
	font-size:12px;
	float:left;
	margin:0 0 0 10px;
	padding:0 0 0 15px;
}
#tree .t1 div h2 a {
	color:#FFFFFF;
	display:block;
}
#tree .t1 div input, #tree .t1 ul li input {
	float:right;
	margin:5px 10px 0 0;
	border:none;
}
#tree .t1 ul {
	display:none;
}

/* Js·½·¨ */
#tree .t1 .block {
	display:block;
}
#tree .t1 ul li {
	line-height:25px;
	zoom:1;
	overflow:hidden;
	padding:0 0 0 25px;
	position:relative;
}
#tree .t1 ul li a {
	float:left;
	color:#000000;
	padding:0 0 0 15px;
}
#tree .t1 ul li input {
	
}

/* ol.css */
#tree .t1 ul ol {
	clear:both;
	display:none;
	border-bottom:1px #DDDDDD solid;
}
#tree .t1 ul .block {
	display:block;
}
#tree .t1 ul ol li {
	zoom:1;
	overflow:hidden;
	position:inherit;
}
#tree .t1 ul ol .bjColor {
	background:#F2F2F2;
}

#submitediter {
	width:60px;
	height:20px;
	background:#2A7AD2;
	color:white;
	font-weight:bold;
}
#submitadd {
	width:60px;
	height:20px;
	background:#2A7AD2;
	color:white;
	font-weight:bold;
}
#closeForm {
	width:60px;
	height:20px;
	background:#2A7AD2;
	color:white;
	font-weight:bold;
}

textarea {
	width:200px;
}