@CHARSET "UTF-8";
#sale_campaign_form dt,dd{
float: left;
display: block;
}
#sale_campaign_form dt{
	width: 110px;
line-height: 20px;
text-align:center;
}
#sale_campaign_form dd{
width: 300px;
	float: left;
}
#sale_campaign_form dl{
width: 420px;
float: left;
margin: 2px 0 ;
}
#sale_campaign_form select{
width: 300px;

}
#sale_campaign_form textarea {
	width: 300px;
	height: 60px;
}

#sale_campaign_form input {
height: 20px;
}


#sale_campaign_form dt,dd{
float: left;
display: block;
}